<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O nás</h2>
                <hr class="light">
                <p class="text-faded">Jsme nově vznikající, rychle se rozvíjející autobusová doprava z Brna, která se zaměřuje převážně na vnitrostátní autobusovou dopravu.
                    Jsme schopni zařídit autobusovou dopravu na školní výlety, firemní akce, letní i zimní výcvikové kurzy, poznávací zájezdy, svatební akce a mnoho dalšího.</p>
                <a href="#contact" class="btn btn-default btn-xl">Kontaktujte nás!</a>
            </div>
        </div>
    </div>
</section>
