<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <hr class="primary">
                <p>V případě zájmu o přepravu nás neváhejte kontaktovat! Využít k tomu můžete náš email: <b><a href="mailto: doprava@mpbus.cz">doprava@mpbus.cz</a></b>, případně také naše telefonické kontakty:</p>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-6 text-center">
                <img src="img/martin.jpg" alt="photo">
                <h3>Martin Zbahna</h3>
                <p>linková doprava</p>
                <p><b><a href="tel: +420 776 647 492">+420 776 647 492</a></b></p>
                          
            </div>
            <div class="col-lg-6 text-center row">
                <img src="img/jan.jpg" alt="photo">
                <h3>Patrik Krejčí</h3>
                <p>zájezdová doprava</p>
                <p><b><a href="tel: +420 737 401 375">+420 737 401 375</a></b></p>
            </div>
        </div>
</section>
