<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Autobusová doprava v Brně">
    <meta name="keywords" content="autobus, doprava, Brno, přeprava, mikrobus, vlek">
    <meta name="author" content="Patrik Krejčí">
    <meta property="og:locality" content="Brno"/>
    <meta property="og:postal-code" content="639 00"/>
    <meta property="og:country-name" content="Česká republika"/>
    <meta property="og:title"
          content="Autobusová doprava v Brně, která Vám připraví nabídku na míru ať už jedete na jednodenní výlet, nebo například na týdenní pobyt do přírody."/>

    <title>MP Bus - Autobusová doprava</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <link rel="icon" type="image/x-icon" href="img/favicon.svg">

    <style>
        footer {
  bottom:0;
  left:0;
  width:100%;
  height: 30px;
  line-height: 30px;
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;

}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
