<section class="bg-primary" id="line">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Linková přeprava</h2>
                <hr class="light">
                <p>Zajišťujeme pravidelnou linkovou přepravu z Brna do Jemnice a zpět.</p>
                <p>Jízdenky je možné zakoupit na odkazu: <a class="odkaz" href="https://jizdenky.bileto.cz"> bileto.cz</a> nebo přímo u řidiče (platba pouze v hotovosti).</p>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">
               <img class="velikostobr" src="img/jir.JPG" alt="fotka">
            </div></div>
        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">

                <h3 class="odkaz">Aktualizované informace</h3>
         
                <p>Vážení cestující, 
                    vzhledem k narůstajícímu počtu cestujících na nedělních spojích jsem se rozhodli tuto neděli, 6. 10. 2024 vypravit na zkoušku posilový autobus.  
                    Druhý autobus pojede v úseku Jaroměřice nad Rokytnou, aut. nádr. -> Brno, ÚAN Zvonařka.
                    Pokud víte, že pojedete v tomto úseku a budete si chtít zakoupit místenku, využijte, prosím, přednostně rezervaci v autobusu č. 2. Taková sedadla bude možné rezervovat od zítřka, tedy od čtvrtka 3. 10. 2024.
                    První autobus pojede po své pravidelné trase z Dačic, aut. nádr. ->Brno, ÚAN Zvonařka. Rezervaci na tento spoj můžete provádět již nyní. 
                    Zároveň bude více místa i pro cestující, kteří se nebudou předem rezervovat, celková kapacita bude 2x 49 míst k sezení + 30 míst na stání. 
                    Oba autobusy pojedou ve stejný čas dle standartního JŘ pro neděli.
                    Pokud jste již zakoupili místenku na nedělní spoj, tak je možné, že se vám změnilo číslo vašeho rezervovaného místa. Prosíme, zkontrolujte si jej a pokud vám nové místo nevyhovuje, tak nás kontaktujte emailem nebo telefonicky. Za technickou chybu se omlouváme a pracujeme na její nápravě.
                    Děkujeme za vaši přízeň!
                    MP Bus s.r.o.
                </p>


            </div>
        </div>
        </div>
</section>
