<section class="bg-primary" id="line">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Linková přeprava</h2>
                <hr class="light">
                <p>Zajišťujeme pravidelnou linkovou přepravu z Brna do Jemnice a zpět.</p>
                <p>Jízdenky je možné zakoupit na odkazu: <a class="odkaz" href="https://jizdenky.bileto.cz"> bileto.cz</a> nebo přímo u řidiče (platba pouze v hotovosti).</p>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">
               <img class="velikostobr" src="img/jr2.jpg" alt="fotka">
            </div></div>
        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">

                <h3 class="odkaz">Aktualizované informace</h3>
         
                <p>Od 1. 1. 2024 došlo ke změnám jízdního řádu. Nově jsou zachovány spoje v pátky dopoledne a neděli odpoledne. Čtvrteční spoj a spoj s odjezdem v pátek ráno z Jemnice jsou do
                    odvolání zrušeny.
                </p>

            </div>
        </div>
        </div>
</section>
