<section  id="contact">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">Linková přeprava</h2>
                <hr class="light">
                <p>Zajišťujeme pravidelnou linkovou přepravu z Brna do Jemnice a zpět</p>
                <p>Jízdenky je možné zakoupit na odkazu: <a class="odkaz" href="https://jizdenky.bileto.cz"> bileto.cz</a></p>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">
               <img class="velikostobr" src="img/jr.jpg" alt="fotka">
            </div></div>
        <div class="row" style="margin-top: 50px;">
            <div class="col text-center">

                <h3>Aktualizované informace</h3>
         
                <p>24. 12. 2023 nebude linka v provozu! Dalších dní se omezení netýká.</p>

            </div>
        </div>
        </div>
</section>
