<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Služby</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bus wow bounceIn text-primary"></i>
                    <h3>Přeprava osob</h3>
                    <p class="text-muted">Naše vozy Vás dopraví bezpečně do cíle Vaší cesty.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Individuální přístup</h3>
                    <p class="text-muted">Přepravu naplánujeme přesně dle Vašich požadavků.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bicycle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nestandardní přepravy</h3>
                    <p class="text-muted">Zvládneme přepravit velké množství kol i zavazadel.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Čistota</h3>
                    <p class="text-muted">Autobusy pro Vás před každou jízdou pečlivě vyčistíme a připravíme pro Vaše nejvyšší pohodlí.</p>
                </div>
            </div>
        </div>
    </div>
</section>
